@import "variables";
@import "mixins";

.margin-decre{
  margin-left: -20px;
  margin-right: -20px;
}

.btn-green-jp{
  color: #000;
  background-color: #18e751;
  border: 2px solid #129743;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 18px;
  font-weight: 700;
  .border-radius();
  .transition(all 0.3s linear);

  &:hover,&:active,&:focus{
    color: #000;
    background-color: #17cb49;
  }
}

.my-width-auto {
  width: auto
}

.my-width-expand {
  width: 1px;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  min-width: 0;
  flex-basis: 1px
}

.my-child-width-expand>* {
  width: 1px
}

.my-child-width-expand>:not([class*=my-width]) {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  min-width: 0;
  flex-basis: 1px
}

body{
  background-color: #f0f0f0;
}

.wrap-top{
  background-image: url("@{path-images}/mini_site.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  padding-bottom: 30px;

  //min-height: 1010px;

  .jp-top-header{
    min-height: 80px;
    overflow: hidden;
    margin-bottom: 20px;

    .inner-header{
      max-width: 850px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;

      .logo{
        margin-top: 5px;
        position: relative;
        text-align: center;
        display: inline-block;
        &>a{
          display: inline-block;
          font-size: 0;
        }

        &:before,&:after{
          content: '';
          width: 300%;
          height: 20px;
          background-color: #ff0000;
          position: absolute;
          top: 50%;
          .transform(translateY(-10%));
        }

        &:before{
          left: -305%;
        }

        &:after{
          left: 188px;
        }
      }
    }
  }

  .jp-top-body{
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    .inner-body{
      .up-text{
        //background-image: url("@{path-images}/people.png");
        //background-repeat: no-repeat;
        //background-position: center bottom -145px;
        //padding-bottom: 285px;
        .my-list{
          text-align: center;
          li{
            position: relative;

            &:first-of-type{
              margin-bottom: 5px;
              z-index: 1;
            }
            &:nth-of-type(2){
              margin-bottom: 20px;
              z-index: 2;
            }
            &:nth-of-type(3){
              margin-bottom: 10px;
              z-index: 3;
            }
            &:nth-of-type(4){
              color: #fff;
              font-size: 23px;
              font-size: 16px;
              line-height: 26px;
              margin-bottom: 5px;
              z-index: 4;
            }
            &:nth-of-type(5){
              color: #fff;
              z-index: 4;
            }
            &:last-of-type{
              margin-top: -82px;
              margin-top: 0;
              z-index: 1;
            }
          }
        }
      }

      .jp-content{
        margin-top: -130px;
        margin-top: -37px;

        .uptext-win{
          position: relative;
          z-index: 2;
          margin-bottom: 20px;
        }

        .jp-navigation{
          position: relative;
          z-index: 2;

          li{
            &.active,
            &:hover{
              &>a{
                background-color: #03a630;
              }
            }

            a{
              font-weight: 700;
              background-color: #cecece;
              color: #000;
              text-decoration: none;
              text-transform: uppercase;
              padding-top: 11px;
              padding-bottom: 11px;
              display: block;
              text-align: center;
              letter-spacing: -1px;
              .border-radius(5px);
              .box-shadow(0 0 12px 7px rgba(0,0,0,.75));
              .transition(all 0.3s linear);

              &>span{
                display: block;
                font-size: 11px;
                font-size: 9px;
                letter-spacing: -1px;
              }
            }
          }
        }

        .jp-main-content{
          position: relative;
          z-index: 2;
          margin-left: -20px;
          margin-right: -20px;
          margin-top: -3px;


          .box-registration{
            padding: 50px;
            padding: 20px;
            border: 4px solid #03a52f;
            background-color: rgba(0,0,0,0.3);
            .border-radius(15px);
            .box-shadow(0 0 12px 4px rgba(0,0,0,.75));

            .my-form-group{
              &>[class*=my-icon-]{
                color: #000;
                font-size: 26px;
                margin-top: -13px;
                width: 50px;
              }

              input{
                height: 44px;
                border: 2px solid #03a52f;
                padding-left: 50px !important;
                .border-radius(5px);
              }
            }


          }
        }
      }
    }
  }
}

.wrap-foot{
  position: relative;
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 50px;
  background-image: none;
  background-repeat: no-repeat, no-repeat;
  background-position: left 0px top, right 0px top;


  .jp-wrap-foot-content{
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    .jp-how-does{
      .title{
        font-size: 30px;
        line-height: 30px;
        color: #03a630;
        font-weight: 700;
      }
    }
  }

  .jp-mask-foot{

  }
}

.box-game-plan{
  padding: 50px;
  padding: 20px;
  border: 4px solid #03a52f;
  background-color: rgba(0,0,0,0.3);
  .border-radius(15px);
  .box-shadow(0 0 12px 4px rgba(0,0,0,.75));

  .box-one-plan{
    .step{
      letter-spacing: -1px;
      text-transform: uppercase;
      margin: 0;
      color: #fff;
      font-size: 25px;
      font-weight: bold;
      .text-shadow(2px 3px 5px rgba(0,0,1,.75));
    }

    .choose{
      letter-spacing: -1px;
      margin: 10px 0 10px;
      color: #18e751;
      font-size: 25px;
      font-weight: bold;
      .text-shadow(2px 3px 5px rgba(0,0,1,.75));
    }

    .short-desc{
      color: #fff;
      font-size: 16px;
    }
  }

  .jp-list-plan{
    li{
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 10px;
      &:nth-of-type(odd){
        color: #fff;
      }
      &:nth-of-type(even){
        border: 2px solid #fff;
        background-color: #d9d9d9;
        padding: 10px 0;
        color: #000;
        .border-radius();
      }
    }
  }
}

.box-set-game{
  padding: 20px 30px;
  border: 4px solid #03a52f;
  background-color: rgba(0,0,0,0.3);
  .border-radius(15px);
  .box-shadow(0 0 12px 4px rgba(0,0,0,.75));
}

.item-set-game{
  padding: 40px 10px 20px;
  border: 2px solid #03a52f;
  background-color: transparent;
  margin: 12px;
  position: relative;
  .border-radius(15px);
  .box-shadow(0 0 12px 4px rgba(0,0,0,.75));

  .time{
    background-color: #ff0000;
    position: absolute;
    color: #fff;
    padding: 3px 10px;
    top: 0;
    left: 50%;
    .transform(translateX(-50%));
    .border-radiuses(0, 5px, 5px, 0);
    .box-shadow(0 0 4px 4px rgba(0,0,0,.35));
    span{
      font-size: 16px;
    }
  }

  .image{
    min-height: 70px;
    text-align: center;
  }

  .next{
    text-align: center;
    margin-bottom: 5px;
    &>a{
      color: #fff;
      text-decoration: none;
    }
  }

  .price{
    margin-bottom: 20px;
    span{
      text-align: center;
      display: block;
      width: 100%;
      background-color: #ebcb58;
      color: #000;
      padding: 5px 0;
      font-size: 23px;
      font-weight: 700;
      .box-shadow(inset 0px 0px 12px 0px rgba(0,0,0,0.75));
      .border-radius(5px);

    }
  }

  .generate{
    &>a{
      background-color: #0ccd41;
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      display: block;
      width: 100%;
      padding: 5px 0;
      text-decoration: none;
      .transition(all 0.3s linear);
      .border-radius(5px);
      .box-shadow(0px 0px 9px 0px rgba(0,0,0,0.75));

      &:hover,&:active,&:focus{
        color: #fff;
        background-color: #0ca135;
      }
    }
  }
}

.box-generate{
  padding: 20px 70px 0;
  padding: 20px 20px 0;
  border: 4px solid #03a52f;
  overflow: hidden;
  background-image: url("@{path-images}/generate-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left -110px top;
  .border-radius(15px);
  .box-shadow(0 0 12px 4px rgba(0,0,0,.75));

  .generate-content{
    .title{
      color: #18e651;
      font-size: 25px;
      font-size: 22px;
      font-weight: bold;
      .text-shadow(0 1px 4px rgba(0,0,1,1.75));
    }

    .short-desc{
      font-size: 16px;
    }
  }

  .ticket{
    position: relative;
    display: inline-block;
    text-align: right;

    .btn-buy-ticket{
      color: #fff;
      font-size: 22px;
      font-size: 11px;
      font-weight: 700;
      padding: 4px 30px;
      text-decoration: none;
      border: 1px solid #028d28;
      background-color: #0ccd41;
      position: absolute;
      bottom: 15px;
      left: 50%;
      box-shadow: 0 1px 7px rgba(0,0,1,.59);
      .border-radius(4px);
      .transform(translateX(-60%));
    }
  }
}

@media (min-width: 400px) {
  .wrap-top{
    .jp-top-body{
      .inner-body{
        .jp-content{
          .jp-navigation{
            li{
              a{
                &>span{
                  font-size: 11px;
                }
              }
            }
          }
        }
      }
    }
  }

  .box-generate{
    .ticket{
      .btn-buy-ticket{
        font-size: 16px;
      }
    }
  }
}

@media (min-width: 640px) {
  .my-width-auto-s {
    width: auto
  }
  .my-width-expand-s {
    width: 1px;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    flex-basis: 1px
  }

  .my-child-width-expand-s>* {
    width: 1px
  }

  .my-child-width-expand-s>:not([class*=my-width]) {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    flex-basis: 1px
  }

  .wrap-top{
    .jp-top-body{
      .inner-body{
        .jp-content{
          .jp-navigation{
            li{
              a{
                &>span{
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .jp-navigation{
    li{
      a{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;

        &>.jp-ball{
          margin-right: 5px;
        }

        &>span{
          font-size: 15px !important;
          display: inline !important;
        }
      }
    }
  }

  .box-registration{
    padding: 50px !important;
  }

  .box-game-plan{
    padding: 30px 50px !important;
  }

  .up-text{
    .my-list{
      li{
        &:nth-of-type(4){
          font-size: 23px !important;
        }
        &:last-of-type{
          margin-top: -65px !important;
        }
      }
    }
  }

  .wrap-top{
    .jp-top-body{
      .jp-content{
        margin-top: -114px !important;
      }
    }
  }

  .box-generate{
    background-position: left top;
  }
}

@media (min-width: 960px) {
  .my-width-auto-m {
    width: auto
  }
  .my-width-expand-m {
    width: 1px;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    flex-basis: 1px
  }

  .my-child-width-expand-m>* {
    width: 1px
  }
  .my-child-width-expand-m>:not([class*=my-width]) {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    flex-basis: 1px
  }

  .wrap-top{
    .jp-top-header{
      .inner-header{
        text-align: left;
        .logo{
          display: block;
          text-align: left;

          &:before{
            left: -301%;
          }

          &:after{
            left: 188px;
          }
        }
      }
    }

    .jp-top-body{
      .jp-content{
        margin-top: -134px !important;
      }
    }
  }

  .box-generate{
    padding: 20px 70px 0;

    .generate-content{
      margin-top: 20px;
      .title{
        font-size: 25px;
      }
    }

    .ticket{
      .btn-buy-ticket{
        font-size: 22px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .my-width-auto-l {
    width: auto
  }
  .my-width-expand-l {
    width: 1px;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    flex-basis: 1px
  }

  .my-child-width-expand-l>* {
    width: 1px
  }
  .my-child-width-expand-l>:not([class*=my-width]) {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    flex-basis: 1px
  }
}

@media (min-width: 1280px) {
  .wrap-foot{
    background-image: url("@{path-images}/loto_gold_1.png"), url("@{path-images}/loto_gold_1.png");
    background-position: left -247px top, right -268px top;

    .jp-wrap-foot-content{
      .jp-how-does{
        margin-top: 30px;
      }
    }
  }
}

@media (min-width: 1366px) {
  .wrap-foot{
    background-position: left -225px top, right -340px top;
  }
}

@media (min-width: 1600px) {
  .my-width-auto-xl {
    width: auto
  }
  .my-width-expand-xl {
    width: 1px;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    flex-basis: 1px
  }

  .my-child-width-expand-xl>* {
    width: 1px
  }
  .my-child-width-expand-xl>:not([class*=my-width]) {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    flex-basis: 1px
  }

  .wrap-foot{
    background-position: left 50px top, right -130px top;
  }
}

@media (max-width: 320px) {
  .my-grid-collapse-ip5 {
    margin-left: 0
  }
  .my-grid-collapse-ip5>* {
    padding-left: 0
  }
}